<h1 id="csmutilities">CSM Utilities</h1>

<p>This package contains tools to help with the development of the SOAP and REST services. For each service based on the TM Forum services there is a set 
of documents and technical artefacts.</p>

<p>Services are delivered with SOAP and REST realisations. For SOAP there are xsd and wsdl files. For REST there are JSON and Swagger files. </p>


<h2 id="installation">Installation:</h2>

<p>Install a local copy of GitHub/Scripts.</p>

<p>Ensure that node version is v8.11 or higher by using:</p>

<ul>
<li>node -v     </li>
</ul>

<p>Ensure that npm version is v5.6 or higher by using:</p>

<ul>
<li>npm -v     </li>
</ul>


<p>You will also need copies of:</p>

<ul>
<li><p>swagger-codegen-cli-2.2.3.jar (available at: GitHub/Scripts/SwaggerCodeGen)</p></li>

<li><p>json-schema-ref-parser node version 4.0.4 (optional but available at: GitHub/Scripts/Utils)</p></li>
</ul>


<p>Navigate to your local copy of GitHub/Scripts/CSMUtilities and install the node modules you need using:</p>

<ul>
<li><p>npm update -g</p></li>

<li><p>npm install -g</p></li>
</ul>

<p>Module json-schema-ref-parser must be version 4.0.4! Check using command:</p>

<ul>
<li>npm list json-schema-ref-parser -g </li>
</ul>

<p>and this should show:
<ul>+-- json-schema-ref-parser@<strong>4.0.4</strong></ul>
<ul>  -- swagger-parser@5.0.6</ul>
<ul>     -- json-schema-ref-parser@5.1.3</ul>
</p>


<p>If @4.0.4 is not installed then either install using:</p>

<ul>
<li>npm install json-schema-ref-parser@4.0.4 -g</li>
</ul>
<p> or manually copy the module to:</p>
<ul>
<li>Linux /usr/local/lib/node or /usr/local/lib/node_modules</li> </ul>
<ul>
<li>Windows 7, 8 and 10 - %USERPROFILE%\AppData\Roaming\npm\node_modules</li></ul>


<p>To execute the utilities use:</p>

<ul>
<li><p>csmutilities -c "C:\TEST\swagger-codegen-cli-2.2.3.jar" to do a configuration for your codegen.</p></li>

<li><p>csmutilities -h</p></li>
</ul>

<h2 id="examplecommandswindows">Example commands Windows:</h2>

<p>cd &lt;path to GitHub&gt;</p>

<p><strong>REST</strong></p>

<p>Validate a REST Schema:</p>

<ul>
<li>csmutilities -a CheckServiceFeasibility\REST\VBO\Service\ServiceFeasibility\V2\ServiceFeasibilityVBO.json</li>
</ul>

<p>Validate swagger file</p>

<ul>
<li>csmutilities -s CheckServiceFeasibility\REST\VBS\Service\CheckServiceFeasibility\V2\CheckServiceFeasibilityVBS.swagger</li>
</ul>

<p>Validate REST examples</p>

<ul>
<li>csmutilities -v CheckServiceFeasibility\REST\VBO\Service\ServiceFeasibility\V2\Examples</li>
</ul>

<p>Validate REST package</p>

<ul>
<li>csmutilities -p CheckServiceFeasibility</li>
</ul>

<p>Validate VBM swagger operations</p>

<ul>
<li>csmutilities -o CheckServiceFeasibility\REST\VBS\Service\CheckServiceFeasibility\V2\CheckServiceFeasibilityVBS.swagger</li>
</ul>

<p>Generate Flat Swagger file</p>

<ul>
<li>csmutilities -b CheckServiceFeasibility\REST\VBS\Service\CheckServiceFeasibility\V2\CheckServiceFeasibilityVBS.swagger CheckServiceFeasibility\REST\VBS\Service\CheckServiceFeasibility\V2\CheckServiceFeasibilityVBS.flat.swagger</li>
</ul>

<p>Generate csv </p>

<ul>
<li>csmutilities -J CheckServiceFeasibility\REST\VBS\Service\CheckServiceFeasibility\V2\CheckServiceFeasibilityVBS.flat.swagger -N CheckServiceFeasibility\REST\VBO\Service\ServiceFeasibility\V2\ServiceFeasibilityVBO.json</li>
</ul>

<p><strong>SOAP</strong></p>

<p>Generate csv from SOAP schema:</p>

<ul>
<li>csmutilities -S CheckServiceFeasibility\SOAP\VBO\Service\ServiceFeasibility\V1\ServiceFeasibilityVBO.xsd</li>
</ul>

<h2 id="examplecommandslinux">Example commands Linux:</h2>

<p>cd &lt;path to GitHub&gt;</p>


<p><strong>REST</strong></p>

<p>Validate a REST Schema:</p>

<ul>
<li>csmutilities -a CheckServiceFeasibility/REST/VBO/Service/ServiceFeasibility/V2/ServiceFeasibilityVBO.json</li>
</ul>

<p>Validate swagger file</p>

<ul>
<li>csmutilities -s CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.swagger</li>
</ul>

<p>Validate REST examples</p>

<ul>
<li>csmutilities -v CheckServiceFeasibility/REST/VBO/Service/ServiceFeasibility/V2/Examples/</li>
</ul>

<p>Validate REST package</p>

<ul>
<li>csmutilities -p CheckServiceFeasibility/</li>
</ul>

<p>Validate VBM swagger operations</p>

<ul>
<li>csmutilities -o CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.swagger</li>
</ul>

<p>Generate Flat Swagger file</p>

<ul>
<li>csmutilities -b CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.swagger CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.flat.swagger</li>
</ul>

<p>Generate csv </p>

<ul>
<li>csmutilities -J CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.flat.swagger -N CheckServiceFeasibility/REST/VBO/Service/ServiceFeasibility/V2/ServiceFeasibilityVBO.json</li>
</ul>

<p><strong>SOAP</strong></p>

<p>Generate csv from SOAP schema:</p>

<ul>
<li>csmutilities -S CheckServiceFeasibility/SOAP/VBO/Service/ServiceFeasibility/V1/ServiceFeasibilityVBO.xsd</li>
</ul>
