<h1 id="csm-utilities">CSM Utilities</h1>
<p>This package contains tools to help with the development of the SOAP and REST services. For each service based on the TM Forum services there is a set of documents and technical artefacts.</p>
<p>Services are delivered with SOAP and REST realisations. For SOAP there are xsd and wsdl files. For REST there are JSON and Swagger files.</p>
<h2 id="installation">Installation</h2>
<p>Install a local copy of GitHub/Scripts.</p>
<p>Ensure that node version is v8.11 or higher by using:</p>
<ul>
<li>node -v</li>
</ul>
<p>Ensure that npm version is v5.6 or higher by using:</p>
<ul>
<li>npm -v</li>
</ul>
<p>You will also need copies of:</p>
<ul>
<li><p>swagger-codegen-cli-2.2.3.jar (available at: GitHub/Scripts/SwaggerCodeGen)</p></li>
<li><p>json-schema-ref-parser node version 4.0.4 (optional but available at: GitHub/Scripts/Utils)</p></li>
</ul>
<p>Navigate to your local copy of GitHub/Scripts/CSMUtilities and install the node modules you need using:</p>
<ul>
<li><p>npm update -g</p></li>
<li><p>npm install -g</p></li>
</ul>
<p>Module json-schema-ref-parser must be version 4.0.4! Check using command:</p>
<ul>
<li>npm list json-schema-ref-parser -g</li>
</ul>
<p>and this should show:</p>
<pre><code>+-- json-schema-ref-parser@4.0.4

    -- swagger-parser@5.0.6

        -- json-schema-ref-parser@4.0.4 invalid    &lt;-- This one needs to be 4.0.4 with invalid</code></pre>
<p>If @4.0.4 is not installed then manually copy the module to the <em>swagger-parser</em> node_module:</p>
<ul>
<li>Linux under /usr/local/lib/node or /usr/local/lib/node_modules (For example: /usr/local/lib/node_modules/swagger-parser/node_modules/)</li>
<li>Windows 7, 8 and 10 under %USERPROFILE%<em>modules-parser</em>modules (For example: C:<em>modules</em>modules-parser_modules-schema-ref-parser)</li>
</ul>
<p>To execute the utilities use:</p>
<ul>
<li><p>csmutilities -c &quot;C:-codegen-cli-2.2.3.jar&quot; to do a configuration for your codegen.</p></li>
<li><p>csmutilities -h</p></li>
</ul>
<h2 id="example-commands-windows">Example commands Windows:</h2>
<p>Navigate to your local GitHub directory</p>
<p><strong>REST</strong></p>
<p>Validate a REST Schema: * csmutilities -a CheckServiceFeasibility2.json</p>
<p>Validate swagger file * csmutilities -s CheckServiceFeasibility2.swagger</p>
<p>Validate REST examples * csmutilities -v CheckServiceFeasibility2</p>
<p>Validate REST package * csmutilities -p CheckServiceFeasibility</p>
<p>Validate VBM swagger operations * csmutilities -o CheckServiceFeasibility2.swagger</p>
<p>Generate Flat Swagger file * csmutilities -b CheckServiceFeasibility2.swagger CheckServiceFeasibility2.flat.swagger</p>
<pre><code>Check that the generated file, CheckServiceFeasibilityVBS.flat.swagger, has fully de-referenced the Common files
i.e. in the generated file a definition exists for &quot;BasicComponents&quot;: ...; if it does not then you need to update 
your json-schema-ref-parser as described above.
Any errors identifed should be fixed in the Swagger Implementation files.
Always generate the code gen from the flat swagger - see next -g option.</code></pre>
<p>Validate Flat Swagger file * csmutilities -F CheckServiceFeasibility2.flat.swagger</p>
<pre><code>Any errors identifed should be fixed in the Swagger Implementation files.</code></pre>
<p>Generate Flat Swagger file * csmutilities -g CheckServiceFeasibility2.flat.swagger</p>
<p>Generate csv * csmutilities -J CheckServiceFeasibility2.flat.swagger -N CheckServiceFeasibility2.json</p>
<pre><code>* CSV file copied to CheckServiceFeasibility\REST\VBO\Service\ServiceFeasibility\V2\ServiceFeasibilityVBO.csv</code></pre>
<p><strong>SOAP</strong></p>
<p>Generate csv from SOAP schema: * csmutilities -S CheckServiceFeasibility1.xsd</p>
<pre><code>* CSV file copied to CheckServiceFeasibility\SOAP\VBO\Service\ServiceFeasibility\V1\ServiceFeasibilityVBO.csv</code></pre>
<h2 id="example-commands-linux">Example commands Linux:</h2>
<p>Navigate to your local GitHub directory</p>
<p><strong>REST</strong></p>
<p>Validate a REST Schema: * csmutilities -a CheckServiceFeasibility/REST/VBO/Service/ServiceFeasibility/V2/ServiceFeasibilityVBO.json</p>
<p>Validate swagger file * csmutilities -s CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.swagger</p>
<p>Validate REST examples * csmutilities -v CheckServiceFeasibility/REST/VBO/Service/ServiceFeasibility/V2/Examples/</p>
<p>Validate REST package * csmutilities -p CheckServiceFeasibility/</p>
<p>Validate VBM swagger operations * csmutilities -o CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.swagger</p>
<p>Generate Flat Swagger file * csmutilities -b CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.swagger CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.flat.swagger</p>
<pre><code>Check that the generated file, CheckServiceFeasibilityVBS.flat.swagger, has fully de-referenced the Common files
i.e. in the generated file a definition exists for &quot;BasicComponents&quot;: ...; if it does not then you need to update 
your json-schema-ref-parser as described above.
Any errors identifed should be fixed in the Swagger Implementation files.
Always generate the code gen from the flat swagger - see next -g option.</code></pre>
<p>Validate Flat Swagger file * csmutilities -F CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.flat.swagger</p>
<pre><code>Any errors identifed should be fixed in the Swagger Implementation files.</code></pre>
<p>Generate Flat Swagger file * csmutilities -g CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.flat.swagger</p>
<p>Generate csv * csmutilities -J CheckServiceFeasibility/REST/VBS/Service/CheckServiceFeasibility/V2/CheckServiceFeasibilityVBS.flat.swagger -N CheckServiceFeasibility/REST/VBO/Service/ServiceFeasibility/V2/ServiceFeasibilityVBO.json</p>
<pre><code>* CSV file copied to  CheckServiceFeasibility/REST/VBO/Service/ServiceFeasibility/V2/ServiceFeasibilityVBO.csv</code></pre>
<p><strong>SOAP</strong></p>
<p>Generate csv from SOAP schema: * csmutilities -S CheckServiceFeasibility/SOAP/VBO/Service/ServiceFeasibility/V1/ServiceFeasibilityVBO.xsd</p>
<pre><code>* CSV file copied to CheckServiceFeasibility/SOAP/VBO/Service/ServiceFeasibility/V1/ServiceFeasibilityVBO.csv</code></pre>
